{% extends "dashboard/layout.html" %}
{% load static %}

<!-- setting dynamic page title -->
{% block dynamicName %}
    {% if subpage %}
        {{ subpage.title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}


{% block body %}


<div class="w-full p-4 mt-6 rounded-md dark:bg-darker">

    <div class="flex flex-col mt-3 sm:flex-row">
        <div class="flex">
            <div class="relative">
                <select
                    class="block w-full h-full px-4 py-2 pr-8 leading-tight text-gray-700 bg-white border border-gray-400 rounded-r appearance-none focus:outline-none focus:bg-white focus:border-gray-500"
                >
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                </select>

                <div
                    class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none"
                >
                    <svg
                    class="w-4 h-4 fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    >
                    <path
                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                    </svg>
                </div>
            </div>

            <div class="relative">
                <select
                    class="block w-full h-full px-4 py-2 pr-8 leading-tight text-gray-700 bg-white border-t border-b border-r border-gray-400 rounded-l appearance-none sm:rounded-l-none sm:border-r-0 focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500"
                >
                    <option>الكل</option>
                    <option>نشط</option>
                    <option>غير نشط</option>
                </select>

                <div
                    class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none"
                >
                    <svg
                        class="w-4 h-4 fill-current"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                    >
                    <path
                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                    </svg>
                </div>
            </div>
        </div>

        <div class="relative block max-w-sm mt-2 sm:mt-0">
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <svg
                viewBox="0 0 24 24"
                class="w-4 h-4 text-gray-500 fill-current"
            >
                <path
                d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"
                />
            </svg>
            </span>

            <input
                placeholder="بحث"
                class="block w-full py-2 pl-8 pr-6 text-sm text-gray-700 placeholder-gray-400 bg-white border border-b border-gray-400 rounded-l appearance-none sm:rounded-r-none focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
            >
        </div>
    </div>

    <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
        <div
            class="inline-block min-w-full overflow-hidden rounded-lg shadow"
        >
            <table class="min-w-full leading-normal">
                <thead>
                    <tr>
                        <th
                            class="px-5 py-3 text-xs font-semibold tracking-wider text-right text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
                        >
                            العنوان
                        </th>
                        <th
                            class="px-5 py-3 text-xs font-semibold tracking-wider text-right text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
                        >
                            الزيارات
                        </th>
                        <th
                            class="px-5 py-3 text-xs font-semibold tracking-wider text-right text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
                        >
                            التاريخ
                        </th>
                        <th
                            class="px-5 py-3 text-xs font-semibold tracking-wider text-right text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
                        >
                            الحالة
                        </th>
                        <th
                            class="px-5 py-3 text-xs font-semibold tracking-wider text-right text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"
                        >
                            تعديل
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td
                            class="px-5 py-2 text-sm bg-white border-b border-gray-200"
                        >
                            <div class="flex items-center">
                            <div class="w-20 h-20 overflow-hidden rounded-full">
                                <img
                                    class="object-cover object-center w-full h-full"
                                    src="{{ item.main_img.image.url }}"
                                    alt="{{ item.title }}"
                                >
                            </div>

                            <div class="mr-3">
                                <p class="text-gray-900 whitespace-nowrap">
                                {{ item.title }}
                                </p>
                            </div>
                            </div>
                        </td>
                        <td
                            class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                            <p class="text-gray-900 whitespace-nowrap">
                            24
                            </p>
                        </td>
                        <td
                            class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                            <p class="text-gray-900 whitespace-nowrap">
                            {{ item.date }}
                            </p>
                        </td>
                        <td
                            class="px-5 py-5 text-sm bg-white border-b border-gray-200"
                        >
                            <span
                                :class="`relative inline-block py-1 font-semibold leading-tight`"
                            >
                            <span
                                aria-hidden
                                :class="absolute inset-0 rounded-full opacity-50"
                            />
                            <!-- toggle state button -->
                            <div class="flex items-center justify-center" x-data="{toggle_{{ item.id }}: {% if item.is_active %} '1' {% else %} '0' {% endif %} }">                          
                                <div 
                                    class="relative w-12 h-6 transition duration-200 ease-linear rounded-full"
                                    :class="[toggle_{{ item.id }} === '1' ? 'bg-green-400' : 'bg-gray-400']"
                                >
                                    <label 
                                        for="toggle_{{ item.id }}"
                                        class="absolute right-0 w-6 h-6 mb-2 transition duration-100 ease-linear transform bg-white border-2 rounded-full cursor-pointer"
                                        :class="[toggle_{{ item.id }} === '1' ? '-translate-x-full border-green-400' : 'translate-x-0 border-gray-400']"
                                    >
                                    </label>
                                    <input 
                                        type="checkbox" 
                                        id="toggle_{{ item.id }}" 
                                        name="toggle_{{ item.id }}"
                                        class="w-full h-full appearance-none cursor-pointer active:outline-none focus:outline-none"
                                        @click="toggle_{{ item.id }} === '0' ? toggle_{{ item.id }} = '1' : toggle_{{ item.id }} = '0'"
                                        onclick="activateItem('social_item_{{ item.id }}');document.getElementById('social_itemForm').action = `{% url 'dashboard:editSocialItem' item.id %}`;document.getElementById('social_itemForm').submit()"
                                    />
                                </div>
                            </div>
                            </span>
                        </td>
                        <td
                            class="py-5 text-sm bg-white border-b border-gray-200"
                        >
                            <div class="flex gap-x-3">
                                <!-- edit button -->
                                <button
                                    class="p-2 transition-all duration-300 bg-gray-200 rounded-lg hover:bg-gray-300"
                                    @click="edit_{{ item.type }} = !edit_{{ item.type }};$nextTick(() => { $refs.linkInput_{{ item.type }}.focus(); })"
                                >
                                    <svg :class="{ 'hidden': edit_{{ item.type }} }" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path>
                                        <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                                    </svg>
    
                                </button>
    
                                <!-- delete button -->
                                <a href="{% url 'dashboard:deleteSocialItem' item.id %}" class="p-2 text-white transition-all duration-300 bg-red-500 rounded-lg hover:bg-red-600">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="25" width="25" xmlns="http://www.w3.org/2000/svg"><path d="M360 184h-8c4.4 0 8-3.6 8-8v8h304v-8c0 4.4 3.6 8 8 8h-8v72h72v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80h72v-72zm504 72H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32zM731.3 840H292.7l-24.2-512h487l-24.2 512z"></path></svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div
            class="flex flex-col items-center px-5 py-5 bg-white border-t xs:flex-row xs:justify-between"
            >
            <span class="text-xs text-gray-900 xs:text-sm">Showing 1 to 4 of 50 Entries</span>

            <div class="inline-flex mt-2 xs:mt-0">
                <button
                class="px-4 py-2 text-sm font-semibold text-gray-800 bg-gray-300 rounded-l hover:bg-gray-400"
                >
                Prev
                </button>
                <button
                class="px-4 py-2 text-sm font-semibold text-gray-800 bg-gray-300 rounded-r hover:bg-gray-400"
                >
                Next
                </button>
            </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}