{% extends "frontend/layout.html" %}
{% load static %}

{% block extraHead %}
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
<style>
    .swiper-pagination-bullet {
        background-color: #64748b;
    }
</style>
{% endblock %}

{% block body %}

<!-- main slider -->
<div class="items-center xl:flex xl:px-16">
    {% if sliders|length > 1 %}
    <div class="relative hidden font-bold transition-all duration-300 xl:block swiper-button-next text-slate-500 dark:text-slate-100"></div>
    {% endif %}
    <div class="shadow-lg xl:w-11/12 w-full mx-auto xl:rounded-tl-[10rem] xl:rounded-tr-2xl xl:rounded-bl-2xl xl:rounded-br-[10rem] h-[70vh] swiper mainSlider">
        <div class="swiper-wrapper">
            {% for slider in sliders %}
            <div class="relative swiper-slide">
                <div class="relative z-10 flex flex-col-reverse items-center justify-end w-full h-full pt-10 xl:pt-0 gap-y-10 xl:flex-row xl:justify-evenly">
                    <div class="flex flex-col justify-center w-1/2">
                        {% if slider.title %}
                        <p class="mb-2 text-lg font-bold text-center opacity-0 md:text-3xl 2xl:text-5xl slideTitle">{{slider.title}}</p>
                        {% endif %}
                        {% if slider.body %}
                        <div class="h-0 overflow-hidden md:text-xl text-md !leading-loose text-center 2xl:text-3xl slideBody">
                            {{slider.body}}
                        </div>
                        {% endif%}
                    </div>
                    <img class="2xl:w-96 xl:w-80 lg:w-72 w-60 slideImage" src="{{slider.main_img.image.url}}">
                </div>
                <img class="absolute inset-0 object-cover w-full h-full" src="{{slider.bg.image.url}}" alt="{{slider.title}}" />  
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        
    </div>
    {% if sliders|length > 1 %}
    <div class="relative hidden font-bold transition-all duration-300 xl:block dark:text-slate-100 swiper-button-prev text-slate-500"></div>
    {% endif %}
</div>

<!-- About -->
<section class="flex flex-col items-center gap-10 py-16 section">
    <p class="px-3 text-xl font-bold text-gray-700 rounded-full xl:text-4xl dark:text-white">من نحن</p>
    <p class="leading-relaxed xl:text-xl dark:text-gray-300">لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...
        
        وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
        
        وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"
    </p>
    <p class="px-3 py-1 font-bold text-white bg-gray-700 rounded-full cursor-pointer lg:px-5 lg:py-2 xl:text-xl">اقرأ المزيد</p>
</section >

<!-- ---------------------------------------------------------------------- -->
<section class="relative flex flex-col items-center gap-10 py-16 section">
    <p class="px-3 text-xl font-bold text-gray-700 rounded-full xl:text-4xl dark:text-white">الأخبار</p>

    <div class="w-full swiper slider1">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <article class="mx-auto duration-500 transform bg-center bg-cover shadow-xl cursor-pointer min-h-150 hover:-translate-y-2 group" style="background-image: url(http://127.0.0.1:8000/media/images/1093978045_1692788304.jpg);">
                    <div class="flex flex-col flex-wrap px-10 duration-300 transform bg-black bg-opacity-20 min-h-150 pt-96 hover:bg-opacity-75">
                        <h1 class="mb-5 text-3xl text-white duration-300 transform translate-y-20 drop-shadow group-hover:translate-y-0">
                            إطلاق مسابقة الرواية العربية برعاية مؤسسة الخلق العظيم
                        </h1>
                        <div class="w-16 group-hover:w-1/2 h-2 mb-5 duration-300 transform translate-y-20 rounded-full bg-slate-500 group-hover:translate-y-0">
                        </div>
                        <p class="text-xl text-white duration-500 transform opacity-0 mb-7 group-hover:opacity-80">
                            وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي 
                        </p>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="mx-auto duration-500 transform bg-center bg-cover shadow-xl cursor-pointer min-h-150 hover:-translate-y-2 group" style="background-image: url(http://127.0.0.1:8000/media/images/352694862_1693217757.jpg);">
                    <div class="flex flex-col flex-wrap px-10 duration-300 transform bg-black bg-opacity-20 min-h-150 pt-96 hover:bg-opacity-75">
                        <h1 class="mb-5 text-3xl text-white duration-300 transform translate-y-20 drop-shadow group-hover:translate-y-0">
                            إطلاق مسابقة الرواية العربية برعاية مؤسسة الخلق العظيم
                        </h1>
                        <div class="w-16 group-hover:w-1/2 h-2 mb-5 duration-300 transform translate-y-20 rounded-full bg-slate-500 group-hover:translate-y-0">
                        </div>
                        <p class="text-xl text-white duration-500 transform opacity-0 mb-7 group-hover:opacity-80">
                            وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي 
                        </p>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="mx-auto duration-500 transform bg-center bg-cover shadow-xl cursor-pointer min-h-150 hover:-translate-y-2 group" style="background-image: url(http://127.0.0.1:8000/media/images/249533711_1692788286.jpg);">
                    <div class="flex flex-col flex-wrap px-10 duration-300 transform bg-black bg-opacity-20 min-h-150 pt-96 hover:bg-opacity-75">
                        <h1 class="mb-5 text-3xl text-white duration-300 transform translate-y-20 drop-shadow group-hover:translate-y-0">
                            إطلاق مسابقة الرواية العربية برعاية مؤسسة الخلق العظيم
                        </h1>
                        <div class="w-16 group-hover:w-1/2 h-2 mb-5 duration-300 transform translate-y-20 rounded-full bg-slate-500 group-hover:translate-y-0">
                        </div>
                        <p class="text-xl text-white duration-500 transform opacity-0 mb-7 group-hover:opacity-80">
                            وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي 
                        </p>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="mx-auto duration-500 transform bg-center bg-cover shadow-xl cursor-pointer min-h-150 hover:-translate-y-2 group" style="background-image: url(http://127.0.0.1:8000/media/images/249533711_1692788286.jpg);">
                    <div class="flex flex-col flex-wrap px-10 duration-300 transform bg-black bg-opacity-20 min-h-150 pt-96 hover:bg-opacity-75">
                        <h1 class="mb-5 text-3xl text-white duration-300 transform translate-y-20 drop-shadow group-hover:translate-y-0">
                            إطلاق مسابقة الرواية العربية برعاية مؤسسة الخلق العظيم
                        </h1>
                        <div class="w-16 group-hover:w-1/2 h-2 mb-5 duration-300 transform translate-y-20 rounded-full bg-slate-500 group-hover:translate-y-0">
                        </div>
                        <p class="text-xl text-white duration-500 transform opacity-0 mb-7 group-hover:opacity-80">
                            وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي 
                        </p>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="mx-auto duration-500 transform bg-center bg-cover shadow-xl cursor-pointer min-h-150 hover:-translate-y-2 group" style="background-image: url(http://127.0.0.1:8000/media/images/249533711_1692788286.jpg);">
                    <div class="flex flex-col flex-wrap px-10 duration-300 transform bg-black bg-opacity-20 min-h-150 pt-96 hover:bg-opacity-75">
                        <h1 class="mb-5 text-3xl text-white duration-300 transform translate-y-20 drop-shadow group-hover:translate-y-0">
                            إطلاق مسابقة الرواية العربية برعاية مؤسسة الخلق العظيم
                        </h1>
                        <div class="w-16 group-hover:w-1/2 h-2 mb-5 duration-300 transform translate-y-20 rounded-full bg-slate-500 group-hover:translate-y-0">
                        </div>
                        <p class="text-xl text-white duration-500 transform opacity-0 mb-7 group-hover:opacity-80">
                            وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي وصف تجريبي 
                        </p>
                    </div>
                </article>
            </div>

        </div>
    </div>

</section>

<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}