<div class="transition-all duration-300 bg-white dark:bg-gray-900">
    <div class="relative text-gray-700 dark:text-gray-200">
        <div x-data="{ open: false }" class="flex mx-auto px-4 font-bold min-[1660px]:max-w-screen-2xl max-w-screen-xl md:items-center md:justify-between 2xl:pl-0 pl-10 xl:gap-x-10">
            <div class="flex flex-row items-center justify-between p-4">
                <a 
                    href="#"
                >
                    <img class="w-28" src="{{ website_config.logo.image.url }}" alt="">
                </a>
            </div>

            <!-- large screens nav -->
            <nav class="relative items-center hidden px-5 overflow-y-visible xl:w-11/12 overflow-x-clip nav swiper xl:flex">
                <div class="absolute top-0 z-10 -right-3 nav-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"/></svg>
                </div>
                <div class="absolute top-0 z-10 -left-3 nav-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"/></svg>
                </div>
                <div class="w-2/12 swiper-wrapper">
                    <!-- looping over Page model objects (nav items) -->
                    {% for page in pages %}
                        {% if page.is_nav %}
                            {% if page.sub_pages.all|length > 0 %}
                            <div @mouseover="open = true" @mouseleave="open = false" class="relative text-center min-w-max swiper-slide" x-data="{ open: false }">
                                <button class="flex flex-row items-center px-3 py-2 text-sm rounded-lg dark:focus:text-white dark:hover:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 md:inline hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                                    <span>{{ page.title }}</span>
                                    <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 transition-transform duration-200 transform"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button>
                                <div 
                                    x-show="open"
                                    x-transition:enter="transition ease-out duration-100" 
                                    x-transition:enter-start="transform opacity-0 scale-95" 
                                    x-transition:enter-end="transform opacity-100 scale-100" 
                                    x-transition:leave="transition ease-in duration-75" 
                                    x-transition:leave-start="transform opacity-100 scale-100" 
                                    x-transition:leave-end="transform opacity-0 scale-95" 
                                    class="absolute right-0 w-full origin-top-right"
                                >
                                    {% for item in page.sub_pages.all %}
                                    <div class="pt-2 pb-4 rounded-md shadow-lg dark:bg-gray-700">
                                        {{ item.title }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>    
                            {% else %}
                            <a 
                                class="py-2 text-sm text-center rounded-lg min-w-max swiper-slide dark:hover:bg-gray-600 dark:focus:bg-gray-600 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" 
                                href="{{ page.slug }}"
                            >
                                {{ page.title }}
                            </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>


            <!-- small screens nav -->
            <nav 
                :class="{'w-full': open, 'w-0': !open}"
                class="absolute top-0 right-0 flex flex-col w-0 w-full h-screen overflow-x-hidden overflow-y-scroll transition-all duration-300 bg-white xl:hidden dark:bg-gray-900"
            >
                <div 
                    x-show="open"
                    x-transition:enter="transition ease-out duration-75" 
                    x-transition:enter-start="transform opacity-0" 
                    x-transition:enter-end="transform opacity-0" 
                    x-transition:leave="transition ease-in duration-75" 
                    x-transition:leave-start="transform opacity-100" 
                    x-transition:leave-end="transform opacity-0" 
                    class="py-16 transition-all duration-500"
                >
                    {% for page in pages %}
                        {% if page.is_nav %}
                            {% if page.sub_pages.all|length > 0 %}
                            <div @mouseover="open = true" @mouseleave="open = false" class="relative" x-data="{ open: false }">
                                <button class="flex items-center w-full px-4 py-3 text-sm border-b border-gray-200 dark:focus:text-white dark:hover:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                                    <span>{{ page.title }}</span>
                                    <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button>
                                <div 
                                    x-show="open"
                                    x-transition:enter="transition ease-out duration-100" 
                                    x-transition:enter-start="transform opacity-0 scale-95" 
                                    x-transition:enter-end="transform opacity-100 scale-100" 
                                    x-transition:leave="transition ease-in duration-75" 
                                    x-transition:leave-start="transform opacity-100 scale-100" 
                                    x-transition:leave-end="transform opacity-0 scale-95" 
                                    class="absolute right-0 w-full origin-top-right"
                                >
                                    {% for item in page.sub_pages.all %}
                                    <div class="px-4 py-3 border-b border-gray-200 dark:focus:text-white dark:hover:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                                        {{ item.title }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>    
                            {% else %}
                            <a 
                                class="flex items-center w-full px-4 py-3 text-sm border-b border-gray-200 dark:focus:text-white dark:hover:text-white dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" 
                                href="{{ page.slug }}"
                            >
                                {{ page.title }}
                            </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>


            <div class="absolute flex transition-all duration-300 bg-white rounded-full top-7 left-2 gap-x-1 dark:bg-gray-900">
                <!-- toggle mobile nav button -->
                <button class="rounded-lg top-8 xl:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
    
                <!-- toggle theme button -->
                <button 
                    x-on:click="isToggled = ! isToggled" 
                    x-data="{ isToggled: $persist(false) }" 
                    class="p-1.5 text-gray-700 transition-colors duration-300 transform rounded-lg dark:text-white"
                    id="theme-toggle"
                >
                    <svg :class="[isToggled ? 'block' : 'hidden']" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 sm:w-6 sm:h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"></path></svg>
                    <svg :class="[isToggled ? 'hidden' : 'block']" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 sm:w-6 sm:h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"></path></svg>
                </button>
            </div>
        </div>
    </div>
</div>